$dark: #000;
$primary: #0077FF;
$btn-color: lightgray;
$btn-color-dark: gray;
$white: #fff;

body {
  background-color: 	#3B3C36 ;
}

.wrapper{
  display: flex;
  align-items: center;
  color: $white;
  height: 100vh;
  flex-flow: column;
  justify-content: center;
  font-size: 1.5rem;
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: $white;
    width: 100%;
    padding: 0 0 2% 0;
    font-size: 1.2rem;
    form{
      display: flex;
      align-items: center;
    }
    .btn {
      box-sizing: border-box;
      appearance: none;
      background-color: transparent;
      border: 2px solid $btn-color;
      border-radius: 0.6rem;
      color: $btn-color;
      cursor: pointer;
      display: flex;
      align-self: center;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      margin: 20px;
      padding: 1.2rem 2.8rem;
      white-space: nowrap;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

      &:hover {
        box-shadow: 0 0 40px 40px $btn-color-dark inset;
      &:hover,
      &:focus {
        color: $white;
        outline: 0;
      }
      }
    }
      input{
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      border: 0;
      font-family: inherit;
      padding: 16px 12px 0 12px;
      margin-left: 20px;
      height: 43px;
      font-size: 16px;
      font-weight: 400;
      background: rgba($white,.02);
      box-shadow: inset 0 -1px 0 rgba($white,.3);
      color: $white;
      transition: all .15s ease;
  
      &:hover{
        background: rgba($white,.04);
        box-shadow: inset 0 -1px 0 rgba($white,.5);
      }
      &:focus{
        background: rgba($white,.1);
        outline: none;
        box-shadow: inset 0 -2px 0 $primary;
      }
    }
}
  .weather-container{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 1%;
    width: 20%;
    p {
      border-bottom: 1px solid $btn-color;
      padding-bottom: 5%;
      padding-left: 5%;
    }
  }
}

